# Data 100 - [Final Project ](http://www.ds100.org/sp20/resources/assets/final_proj/final_proj_spec.pdf)
## Spring 2020

### Saketh Kollu, Anita Shen, Nicholas Wang

Dataset: [Contraceptive](https://archive.ics.uci.edu/ml/datasets/Contraceptive+Method+Choice)

[Rubric](https://d1b10bmlvqabco.cloudfront.net/attach/k4zyqkjkyt33a2/j4f6z772zscwl/k9ns0abjn95w/Undergrad_DS_100_Final_Project_Rubric_Release.pdftps://)

# Guiding Questions

1. Which column variable affects the Contraceptive method used the most?
2. How is the Contraceptive method used related to the number of children?
3. Can we build a multinomial logistic regression to predict which type of contraceptive method used by an individual given certain variables?

Alright here we put our questions maybe hypotheseses etc

In [1]:
# Library imports

import pandas as pd
import numpy as np
import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# Data imports

data = pd.read_csv("./contraceptive_for_students.csv")
data.sample(5)

,wife_age,wife_education,husband_education,num_child,wife_religion,wife_work,husband_occupation,standard_living,media_exposure,contraceptive
311,36,3,3,2,1,0,2,4,0,1
1015,22,4,4,0,1,1,3,2,0,1
1219,21,4,4,1,1,1,1,3,0,2
7,21,3,3,1,1,0,3,2,0,1
1057,27,3,4,2,1,1,1,3,0,1

In [3]:
data.describe()

,wife_age,wife_education,husband_education,num_child,wife_religion,wife_work,husband_occupation,standard_living,media_exposure,contraceptive
count,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000
mean,32.538357,2.958588,3.429735,3.261371,0.850645,0.749491,2.137814,3.133741,0.073999,1.919891
std,8.227245,1.014994,0.816349,2.358549,0.356559,0.433453,0.864857,0.976161,0.261858,0.876376
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,26.000000,2.000000,3.000000,1.000000,1.000000,0.000000,1.000000,3.000000,0.000000,1.000000
50%,32.000000,3.000000,4.000000,3.000000,1.000000,1.000000,2.000000,3.000000,0.000000,2.000000
75%,39.000000,4.000000,4.000000,4.000000,1.000000,1.000000,3.000000,4.000000,0.000000,3.000000
max,49.000000,4.000000,4.000000,16.000000,1.000000,1.000000,4.000000,4.000000,1.000000,3.000000

In [4]:
data.shape
data.info

<bound method DataFrame.info of       wife_age  wife_education  husband_education  num_child  wife_religion  \
0           24               2                  3          3              1
1           45               1                  3         10              1
2           43               2                  3          7              1
3           42               3                  2          9              1
4           36               3                  3          8              1
5           19               4                  4          0              1
6           38               2                  3          6              1
7           21               3                  3          1              1
8           27               2                  3          3              1
9           45               1                  1          8              1
10          38               1                  3          2              1
11          42               1                  4          4              1
12          44               4                  4          1              1
13          42               2                  4          1              1
14          38               3                  4          2              1
15          26               2                  4          0              1
16          48               1                  1          7              1
17          39               2                  2          6              1
18          37               2                  2          8              1
19          39               2                  1          5              1
20          26               3                  4          1              1
21          24               3                  4          0              1
22          46               4                  4          1              0
23          39               4                  4          1              1
24          48               4                  4          5              1
25          40               2                  4          8              1
26          38               4                  4          1              1
27          29               4                  4          0              1
28          24               4                  4          0              1
29          43               1                  2          8              1
...        ...             ...                ...        ...            ...
1443        21               2                  2          0              0
1444        22               4                  4          2              1
1445        36               4                  4          3              0
1446        45               2                  3          3              0
1447        34               4                  4          2              0
1448        35               2                  3          5              1
1449        19               4                  4          1              1
1450        27               4                  4          4              1
1451        37               2                  4          4              1
1452        26               3                  2          4              1
1453        28               1                  3          5              1
1454        31               3                  4          5              1
1455        32               2                  2          6              1
1456        40               2                  2          4              0
1457        27               3                  3          5              1
1458        27               2                  2          3              1
1459        37               4                  4          5              0
1460        22               4                  3          1              1
1461        27               4                  4          4              1
1462        21               4                  4          1              0
1463        30               1                  3          2              1
1464        23               2                  2          1              1
1465        25               2                  4          3              1
1466        42               2                  4          6              1
1467        29               4                  4          3              1
1468        33               4                  4          2              1
1469        33               4                  4          3              1
1470        39               3                  3          8              1
1471        33               3                  3          4              1
1472        17               3                  3          1              1

      wife_work  husband_occupation  standard_living  media_exposure  \
0             1                   2                3               0
1             1                   3                4               0
2             1                   3                4               0
3             1                   3                3               0
4             1                   3                2               0
5             1                   3                3               0
6             1                   3                2               0
7             0                   3                2               0
8             1                   3                4               0
9             1                   2                2               1
10            0                   3                3               1
11            1                   1                3               0
12            0                   1                4               0
13            0                   3                3               0
14            1                   2                3               0
15            1                   4                1               0
16            1                   2                4               0
17            1                   2                4               0
18            1                   2                3               0
19            1                   2                1               1
20            0                   4                1               0
21            0                   3                1               0
22            1                   1                4               0
23            1                   1                4               0
24            1                   1                4               0
25            1                   3                3               0
26            0                   1                4               0
27            0                   1                4               0
28            0                   2                2               0
29            1                   2                4               0
...         ...                 ...              ...             ...
1443          1                   4                4               0
1444          1                   3                4               0
1445          1                   3                4               0
1446          0                   2                4               0
1447          0                   2                4               0
1448          1                   3                3               0
1449          1                   2                3               0
1450          1                   3                3               0
1451          0                   2                3               0
1452          1                   3                4               0
1453          1                   3                4               0
1454          1                   1                4               0
1455          1                   2                3               0
1456          0                   2                4               0
1457          1                   2                4               0
1458          1                   2                2               1
1459          0                   2                4               0
1460          1                   2                2               0
1461          1                   1                2               1
1462          1                   2                4               0
1463          1                   3                4               0
1464          1                   2                4               0
1465          1                   1                3               0
1466          1                   2                4               0
1467          1                   1                4               0
1468          0                   2                4               0
1469          1                   1                4               0
1470          0                   1                4               0
1471          0                   2                2               0
1472          1                   2                4               0

      contraceptive
0                 1
1                 1
2                 1
3                 1
4                 1
5                 1
6                 1
7                 1
8                 1
9                 1
10                1
11                1
12                1
13                1
14                1
15                1
16                1
17                1
18                1
19                1
20                1
21                1
22                1
23                1
24                1
25                1
26                1
27                1
28                1
29                1
...             ...
1443              3
1444              3
1445              3
1446              3
1447              3
1448              3
1449              3
1450              3
1451              3
1452              3
1453              3
1454              3
1455              3
1456              3
1457              3
1458              3
1459              3
1460              3
1461              3
1462              3
1463              3
1464              3
1465              3
1466              3
1467              3
1468              3
1469              3
1470              3
1471              3
1472              3

[1473 rows x 10 columns]>

## Data Cleaning

In [5]:
oh_enc = OneHotEncoder(categories="auto")

arr = []
for age in data['wife_age']:
    if age <= 20:
        arr.append(1)
    elif age > 20 and age <= 30:
        arr.append(2)
    elif age > 30 and age <= 40:
        arr.append(3)
    elif age > 40 and age <= 50:
        arr.append(4)
    
data['age_category'] = arr

NameError: name 'OneHotEncoder' is not defined

In [ ]:
arr_child = []
for age in data['num_child']:
    if age == 0:
        arr_child.append(1)
    elif age > 0 and age <= 2:
        arr_child.append(2)
    elif age > 2 and age <= 5:
        arr_child.append(3)
    elif age > 5 and age <= 8:
        arr_child.append(4)
    elif age > 8 and age <= 12:
        arr_child.append(5)
    else:
        arr_child.append(6)
    
data['num_child_category'] = arr_child

## Data Transformations

In [ ]:
#TODO: Do train test split on cleaned data here

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.20, random_state=42)
print(len(train))
print(len(val))

## Exploratory Data Analysis

In [ ]:
## do some pca crap, visualizations etc

## Modeling

In [ ]:
# All in loop

for col in data:
    
    if (col == 'wife_age' or col == 'num_child'):
        continue
    
    oh_enc = OneHotEncoder(categories="auto")
    oh_enc.fit(train[[col]])
    oh_enc.get_feature_names()
    X_train = oh_enc.transform(train[[col]]).todense()
    Y_train = train["contraceptive"]

    from sklearn.model_selection import cross_val_score
    from sklearn.linear_model import LogisticRegression

    model = LogisticRegression(solver='lbfgs', multi_class='auto', C=1e5)
    model.fit(X_train, Y_train)
    
    X_test = oh_enc.transform(test[[col]]).todense()
    Y_test = test['contraceptive']
    
    print(col, model.score(X_test, Y_test))

In [ ]:
oh_enc = OneHotEncoder(categories="auto")
cols = ['wife_education', 'husband_education', 'wife_religion', 'husband_occupation']

oh_enc.fit(train[cols])
X_train = oh_enc.transform(train[cols]).todense()
Y_train = train["contraceptive"]
print(X_train)

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', multi_class='auto', C=1e5)
model.fit(X_train, Y_train)

X_test = oh_enc.transform(test[cols]).todense()
Y_test = test['contraceptive']

print(model.score(X_train, Y_train))

In [ ]:
cols = ['wife_education', 'husband_education', 'husband_occupation', 'age_category', 'num_child_category']

oh_enc.fit(train[cols])
X_train = oh_enc.transform(train[cols]).todense()
Y_train = train["contraceptive"]
print(X_train)

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', multi_class='auto', C=1e5)
model.fit(X_train, Y_train)

X_test = oh_enc.transform(test[cols]).todense()
Y_test = test['contraceptive']

print(model.score(X_test, Y_test))

## Model Validation

In [ ]:
#sklearn cvscore

## Use Model to make Predictions

In [ ]:
# Predict

## Results